.container{
    /* background-color: red;
     */
     display: flex;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: rgb(133, 92, 168);
     background-color:rgb(68, 52, 36)

}
